*{
  font-family: Arial;
}

p{
  font-size: 18px;
}

body{
  margin: 0 15%;
}

.form_title{
}

.input_h{
    clear: both;

}

.input_h *{
    float:left;
    margin: 15px;
}

.large_input{
    height: 200px;
    width: 400px;
    max-width: 800px;
    resize: horizontal;
}

.site_header{
  background-color: #e6e6e6;
  font-size: 20px;
  clear: none;
  vertical-align: middle;
  max-height: 70px;
}

.site_header a{
 font-family: Arial;
 margin: 0px 20px;
}

.site_header a{
  font-size: 20px;
  color: #2d2d2d !important;
  text-decoration: none;
  vertical-align: middle;
}

.site_header li{
  display: inline-block;
  vertical-align: middle;
}

.site_header .header_form li{
  background-color: #fff;
}

.site_header li form input{
  font-size: 20px;
  color: #000;
  vertical-align: middle;
  margin-top: 20px;
}


.table_header td{
  font-size: 24px;
  width: 190px;
  outline: 1px solid black;
  text-align: center;
}
.home_table_row{
  outline: 1px solid black;
  font-size: 18px;
  width: 190px;
  text-align: center;
}

.viewrecipe {
  padding-left: 1.0em;
  margin: 0;
}

.viewrecipe li{
  list-style-type: none;
  display: inline;
  font-size: 14px;
  padding-right: 20px;
  margin: 0;
}

.spacer{
  clear:both;
}

.ingredients{
  font-size: 1em;
  line-height: 28px;
}

.directions{
 font-size: 1.1em;
 line-height: 30px;
}

#two_column{
  display: flex;
  flex-direction: row;
}

#left_column{
  float:left;
}

#right_column{
  float:right:
}
